.research-detail{
    margin-top: 20px;
}

.list-group-horizontal .list-group-item{
    display: inline-block;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: center
}

ul.list-group-horizontal li.list-group-item a {
    text-decoration: none;
}

ul.list-group-horizontal li.list-group-item:hover {
    background-color: #65AAF0;
    transition: all 1s;
}